<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>OGN reception range</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  
  <script type="text/javascript" src="func.js"></script>
  
  <script>
  
     console.log('someParam GET value is', params['date']);

     var baseServiceUrl="http://ec2-52-18-228-171.eu-west-1.compute.amazonaws.com:8080";
     var context="/ogn-gateway-web/rest";

     var myUrl = baseServiceUrl + context + "/toprange-all/" + params['date'];
     
     console.log(myUrl);
  
     var myApp = angular.module('myApp', []);
     myApp.controller('Ctrl1', function($scope, $http) {
           $http.get( myUrl ).success(function(data) {
              $scope.data = data;
           });
           
           $scope.sortField = 'range';
           $scope.reverse = true;
     });
  </script>
  
  <style type="text/css">
    .odd {
       background-color:#eee;
    }
    .even {
       background-color:#fff;
    }
  </style>

</head>

<body ng-controller="Ctrl1">
  Search: <input ng-model="query" type="text" />
  <table>
    <tr>
      <th><a href="" ng-click="sortField = 'receiver_name'; reverse = !reverse">receiver</a></th>
      <th><a href="" ng-click="sortField = 'range'; reverse = !reverse">range [km]</a></th>
      <th><a href="" ng-click="sortField = 'alt'; reverse = !reverse">alt [m]</a></th>
      <th><a href="" ng-click="sortField = 'aircraft_reg'; reverse = !reverse">aircraft reg</a></th>
      <th><a href="" ng-click="sortField = 'aircraft_id'; reverse = !reverse">aircraft id</a></th>
     </tr>
     <tr ng-repeat="d in data | filter:query | orderBy:sortField:reverse" ng-class-odd="'odd'" ng-class-even="'even'">
       <td> <a href="http://ognrange.onglide.com/#{{ d.receiver_name }}" target="_blank"> {{ d.receiver_name }}</a></td>
       <td> {{ d.range }} </td>
       <td> {{ d.alt | number }} </td>
       <td> {{ d.aircraft_reg }} </td>
       <td> {{ d.aircraft_id }} </td>
     </tr>
   </table>
</body>
</html>
